.sidebar {
    height: 100vh;
    padding-top: 20px;
}

.sidebar .nav-link {
    color: #208e2f; /* Color del menú lateral */
}

.sidebar .nav-link:hover {
    color: #0056b3;
}
body {
    background-color: #f8f9fa;
}

.card {
    border-radius: 8px;
}

.btn-link {
    color: #007bff;
    text-decoration: none;
}

.btn-link:hover {
    text-decoration: underline;
}

.modal-content {
    border-radius: 8px;
}
